@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header{
  display:flex;
}
ul{
  list-style-type: none;
}
a{
  list-style-type:none;
}
.left-links{
  display:flex;
  gap:10px;
  justify-content: flex-start;
}
.right-links{
  display:flex;
  gap:10px;
  justify-content: flex-end;
  flex-grow:1;
}

.content{
  width:40%;
  margin-right:30%;
  margin-left:30%;
  margin-top:10%;
  margin-bottom: 20%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.buttons{
display:flex;
justify-content: center;
}